<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header>
      <nav>
        <h1>The House of Electricity</h1>
      </nav>
    </header>

    <main>
      <section class="form-container">
        <h2>Factory Registration</h2>

        <div th:if="${success}" class="success-message">
          <p th:text="${success}"></p>
        </div>

        <div th:if="${error}" class="error-message">
          <p th:text="${error}"></p>
        </div>

        <form th:action="@{/article/create}" method="POST">
          <label for="articleName">Article Name:</label>
          <input type="text" id="articleName" name="articleName" required />

          <label for="articleDescription">Article Description:</label>
          <input
            type="text"
            id="articleDescription"
            name="articleDescription"
            required
          />

          <div class="form-group my-3">
            <select name="factory_id">
              <option value="">Select Factory</option>
              <!-- agregamos la línea para intectar la lista almacenada en el modelo -->
              <option
                th:each="factory : ${factories}"
                th:value="${factory.id}"
                th:text="${factory.factoryName}"
              ></option>
            </select>
          </div>

          <button type="submit" class="btn">Register</button>
          <a th:href="@{/articles}" class="btn btn-secondary">Cancel</a>
        </form>
      </section>
    </main>

    <footer>
      <p>&copy; 2025 The House of Electricity. All rights reserved.</p>
    </footer>
  </body>
</html>
